<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="773" />
    <add key="mainForm.Location.Y" value="0" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="730" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6779d/fan/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAKvjKl/GPv+GBwODiBMAadz95AwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAKvjKl/GPv+Gx8qWjU4AFnHS4QwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEADu9rHwZ+/wbHgwM4k4A0Yn62AwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEADu9rHwZ+/wbHiX3DjgBAPj1yXUMAAAA" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAFsh/LGQff4NDwYGD2eVyA1+DGDg4ay7NYkJzGxIdzY/kcgEE1+9PQnOBgBKE8IzPAAAAA==" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAJtr9bGQff4ND4YfU10sfiQxMYDBNJcPhlD2h0qXjOVQ9oWJLuq3E+FqNjdAxQPmuZyPT4GwNWa5PIXpXdHrktSRBBc3q1Fnh7FZvyP0ntwLNbNikcs1Y4T6r8sQ5vyGiQe0uqQ8SoS7pzYdKl7R6bLeF6FGpPcIC4ytVpcMd7Pm5US4mW+XI8zvMkK4p40b4Yaz7gg18t8ReisyEGbOiEyEq1c5hXDDjipEeMpyIszU3Ypgm59IhNu7ejtUHBgXAGBvx9eYAQAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAC3PTyiDcRwGcBw4LIeVpShWFA4c/Flpl/XMMhcpFHGwKcXBi5RSNOJkOaxlLjhQ3mnb77f3nQtZ2ZRysJLDFCkcREorktPWnvd3+vT09PT92Ua3FioOsu7DPw1j/xNlJYWXvdQwO+ItOncbR6KT9j3HkeqndbuG6abJoi1mDYtJOlpf2Kmm71p0DAU9Rdd26cjVMR9vTmA7xNxml3j65aa/W+LHRO/dS2wE2E9mJDJv7KsDEtYzOlbIzwfZ33mJoVKnne8x9Ppo94xEq8J+Upf4TjFXrgV6pug2h8CSi16dF4i+0umAwGaIjngFnD7uDLskGhp5W7BUotzYf/wQeFhmf9cv0Gf8az0tcGp0PFdhVH0xt1pUKGbatKJCr6H3L46x9kk7blTMtdMyFUaHsRk5OkEepmzt6rwBAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADXPTyiDcRwG8LXDkBxkpVakqEkp+VtOT5kM5UKLlDCpOZiWWnGZwkVp1moX9e5V+/32LkptHKgdptVccBIrLnZB6k2bgwtve7bf6dPT09P3Nzh34KtRnpzBBw3zv4tmk/FCxxrWZ5fLtl3Gkeqn77JxZKboiRYNHru77Hwxjs00nTIbO8308J+GmfBS2XpdAt+tzNN6AocR5pYhiZcfbvoGJEr1dDgnsRtiv3gjcV9gf2FSou2KLhj59TT7tXoMDUl6rRTDWIA+d0t0e9lf0ST0DPOuWwHHKv3oFPCP0lG/wNkb3RMR2IvQQY/ASIA7UUi0d/A2l0nCUtnPfQg8b7HvOhIYr/4rK3BR6eStKqxfzBPbCryNtONVQdJGn3Qq2Pmk9+1RbPTSaFLRV9k8fVfxDwHLOqu8AQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADOL7C5in3/Do2G+vH30rwQmBiAosFe0z4tIArMNijXst5hA2BO+qtsf8oOwN1iq2meqJ0PU1KrZl+yDsBP41OyjxaHiWnL2IVMSweyGK7L2n+Qg4gLzxOz7pkPEL2Sb2N/9BjGzoMLE/is3hJ1wX9++ZRLUTBYD+/NPIOoFThrbK+yCsB8AxXcHQ9QfWGxnz7sZ6rYKO3v3Bgi7gc3YXjcfqv6Ggf2HQ1A1t8ztXdIg7IC71vblrhA2Q7qV/drHUL1Zlvat06Hs61b2zg0QcxjkTeyVVSBuC1A0s2eDmn/grJn9zSqomTMt7T1h/vphbr8VqsagNtVe5C3UDW5F9vmCEPYDw3z7zVIQ9od7JfaNryHsC89z7AuMoG7rSrU3hpq54FqcPQDylqeUvAEAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAHv7s7OIff4ND7ESDqeJRklMDEBQ5zfTcXsEhM1jHeRYFw1hr06qdTzkB2G/ufHB0YghGcxmeHLFcfVTCFvi3AfHaHGo+JJzjiFTEsHs0LNXHT/JQcQXx95z7JsOEWd48dfx7jeImQw33jt+5YaybeycWiYlw8XPP4Gqv7HEUWEXhP2n75rj7mCI+pAZwY6M4hD24/tNji5foeZUNDnaTIPqTWhz/HAIIn7YsMPRJQ3CPvsmwrHcFaq+p91x7WMo22GOY3QBlN1R4hjQADHn/ukZjg7eULd1pDqy5UPE5/3Lc7xZBVFfxFLgGHoewl7VUu24EuqGbvuVjiJvoWb6NDrmC0LZKhMcN0tB2Nf9uhwbX0PFL7Q4FkDjhaFmkqMxLKxEZjsCAI52uNS8AQAA" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj9NqrE4TjZKYGECgYIrj9ggIW32Bo2NdNIS9wbvE8ZAfhN1l+8HRiCEZot7gpuPqpxD2zJd3HKPFoeINux1DpiSC2So39zl+koOIlxkddOybDhFneHDX8e43qL0Lrjt+5YayEyycWiZBzbnwwvH8E6j6DwscFXZB2QcOOu4Ohqt3ZBSHsK18GxxdvsLEsxxtpkHVJ7Q5fjgEEZfnanV0SYOqeVDmWO6K8PvaxzD3LHWMLoCyFbwdAxog5pwumuPo4A1xW9fcBEe2fIh4mVSW480qiPrjE8sdQ8/DwqrAcSXUDdvVZzqKvIWa2dDpmC8IZV+Y67hZCsJ+k9Ds2PgaKi7Q7VgAixeDPkfjbwi3AQDeOCTsvAEAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj/9fRJwmGiUxMQCB0MMNjtsjIOxTycWOddEQNoPDHMdDfjA2s5MRQzKE3fDWcfVTCHteA7NTtDhUvILJKWRKIoSd8MrxkxxEfJIMu1PfdKh4gKDT3W9JcPVfuaHsHVZOLZOg5ij8dTz/BKqe4YSjwi4o2+CT4+5giPq0yjZHRnEI2zG0zdHlK9SchDZHm2lQ9Q8mOX44BBFfkL/E0SUNwr7xst6x3DUJrmbtYyi7YZFjdAGULdDtGNAAMWezzkxHB2+I28of1Tiy5UPN3zDL8WYVVH3ARMfQ80lw8ZVQN3y5dtBR5C1U/MMCx3xBhJrNUhB2flWnY+NrqLhBn2OBESzMtzoaw8LKYLkjADwGuDm8AQAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAHv7s7OIff4ND9kXvE4TjZKYGIDAZN90x+0RELZaYLRjXTSEzaCQ4njID8re8NTRiCEZwr5w3nH1Uyi74btjtDiUveC6Y8iURDDbsOec4yc5iPhXr/OOfdMh4gwTfjve/QY1U4Pd6Ss3lP3DwallEtQch+eO559A1S/ocVTYBWHfWHrRcXcwRP20E1GOjOIQdse5GkeXr1BzEtocbaZB9R4odvxwCCLuK9vk6JIGYc/5YeVY7grzV6Pj2scwvfMdowug7AP9jgENUHMc5jg6eMPclu7Ilg8zP8rxZhVUvYOfY+h5KLsh13El1A0mccsdRd4mwfXmC0LZBVMcN0tB2ROmOza+hrI/tDsWQOOFwaDP0RgWVsBwAAC8xg7PvAEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj2czPjtONEpiYgCCLVodjtsjIGzx6RaOddEQ9p95KY6H/CBs9W/PHI0YksFsBoG9jqufQthdZ587RotDxRsWOYZMSYSwC+47fpKDih+45dg3HSo+4bfj3W9JUPVXHL9yQ9kPXJxaJkHVG3xyPP8Eqv7CXEeFXRC2xLIrjruDIeq/uOo5MopD2CdK2xxdvkLN+dDuaDMNqjehzfHDIah4QpajSxqEvfODoWO5K0J87WOYezodowtg4oGOAQ1QcwImOjp4J8PF2fKh4gccHW9WQdUvCHcMPQ9hK3+NclwJdYP/wkWOIm+hahz8HPMFYex0x81SUPaFFsfG11C2QopjgRHMzAJHY1hYPZjkCAAQDYAsvAEAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHv7s7OIff4NDwaFBKeJRklMDCDQEOe0PQLGjnSqi4ayH4Q4HfKDsUOdjBiSIeyEPKfVT6FshWSnaHEouyHeKWRKIoR9INbpkxxUnCHeqW86VDwh3unutyQ4+ys3jJ3k1DIJZk6i0/knUPUO8U4Ku6DsBbFOu4Nh6iOdGMWh7AOhTi5fYe7PcLKZhtD74RBMTaSTSxqUvSDMqdwVpj7Uae1jKJsh1Cm6ACYe7BTQAHNzsJODN8xtQU5s+TA/BjrdrIKZH+AUeh6mN8BpJcwNCYFOIm9hYejvlC8IZSsEOG2WQqhvfI0QL4DFy4IAJ2NYWDEEOwEAMC8zXrwBAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj+QgX8eJRklMDEAw9aOm4/YICJvxu6BjXTSEnXZb3vGQH4TtqO7jaMSQDGbvq3B2XP0Uwo5WCnKMFoeyCx0cQ6YkgtlvDrg6fpKDiC+64e7YNx0iPvtEsOPdbxAzXwD1fuWGsKvYih1bJkHUC4UEOZ5/AlHv42vuqLALwrZJc3DcHQxRf/U5hyOjOIR96q+kY7AMRC+/p7yjbj5EvZqtnOOHQxA1OWmKji5pEPaaTmHHclcIu1JAyXHtYwhbfKGmY3QBhP2hld8xoAFiTs0BbUcHb4j557xkHdmg5q8NlnK8WQVRX8Iu7Rh6HsLWcFNxXDkNouZKoamjyFuIeFeklGO+IIStFqLpuFkKwva6qeLY+BrCjr+q6VgAjZcrX1UdjaFhtWoWoyMA+IAC37wBAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEADOL7C5in3/DozdX1DH6VwITAxBs+HPWIS8iCcyeeGGBwxYTCPtt7B6HQ34QtnURl2OmejKYLaL716FkH4S9fzefY7Q4hH3KhdExZEoimP1cgc3xkxxEvO0pp2PfdIi47Alhx7vfIGbaR/E4fuWGsP+Hmjq2TIKof7yW0/H8E4j6f1KPHRR2QdgvnjI47g6GqOeaP9OBdzOEfdd7k4N7A4R9o+2kg24+RL3Y1Z0OHw5BxJki9ju4pEHYm5SWOJS7QthLZPc6rH0MYXM8O+PQOh3CLrJd4uDcADEnOvWcg7IKxG3PUjc7sEHN/zNto8PNKoj6I+/WO3hC/SXYvddhK1QNA+9rB5G3EPGyC1sd8gUhbHfjkw6bpSDseXf3OzS+hrAd1p10KDCCsHdtOuZgDDWTKa3aAQCazw4XvAEAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj5VNwg5LIpOYGIDghf1p+yWGEHZl+1z7umgIW3P6HvtDfhB2ggSLgxFDMpj968hT+9VPIWzOCawO0eIQtsmcp/YhUxLB7BSZz/af5CDiRRFf7fumQ8Rd9rI63P0GMXPZs1/2X7kh7F/8Gg4tkyDqZbz/259/AlFf/eS6vcIuCHt/3Wv73cEQ9UGrp9kzikPYbMw77YNlIHotl520182H6nXda//hEETN8oo99i5pELZ/5Sr7clcI+8G9HfZrH0PY7Q5n7aMLIOxTgYvtAxog5gSznrN38IaYHzNnnz0b1HwHz032N6sg6rNWb7X3hPpLoPaA/VaommmqD+xF3kLE09fvtM8XhLDfnT9mv1kKwp5864h942sI+7b6cfsCIwg7UvGgvTHUzFkLm+wBTjCZkrwBAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHv7s7OIff4NDwmHYNclkUlMDEAQ89jZdYkhhD0v3Nm1LhrCPvcr1PWQH4T9iNHd1YghGcxWnejhuvophF3w0d01WhwhHjIlEcyOOh/i+kkOIu7l6OHaNx0i/uqSi+vdbxAzVYDqv3JD2NMWuru2TEKoP/8Eor7dNMBVYReErVfr4bo7GKI+LNnHlVEcwrYIjXQNloHoNZUPddXNh6jfyR7i+uEQRE0Rj5erSxqE/WpfqGu5K4TdtDXCde1jCHvGHk/X6AKEmoAGiDmuBwNcHbwh5v/ySXJlg5q/QTrE9WYVRP0RvjBXT6i/9gS6u26FqlnuFeYq8hYivuSnv2u+IIT9/4GH62YpCFtLIti18TWEXT45xLXACMJ+cCnU1Rhq5uRYWVcA8f3TuLwBAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj1sOKg5LIpOYGICA5cwH+yWGEPbbSavt66Ih7E3a5+0P+UHYAe6KDkYMyWB27GkJh9VPIWzXQFWHaHEIO65c3iFkSiKYffellMMnOYj4zHVaDn3TIeKb+2Qd7n6DmFm4TMXhKzeEXdbj6NAyCaJe8rycw/knEPW52zgcFHZB2HPv8zrsDoao/5uy155RHMJW2HDCPlgGotdN74a9bj5EfXn8OfsPhyBqNuTdsXdJg7Bn/dtvX+4KYU/xvWq/9jGEvdbyvn3rdAjb/v9ue+cGiDkbSp/YK6tAzM+8sNeeDWp+qeUZ+5tVEPUiB47Ye0L9FcVy3n4rVM3qCg4HkbcQ8aoJF+zzBaH2Kr603ywFtUvyln3jawj7ws8X9gVGEHaRzSt7Y6iZW6/PsQcA3f9AKbwBAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHv7s7OIff4NjxLPRNclkUlMDECQUxjgusQQwl6RGuFaFw1hPy9Jcj3kB2HLzMhxNWJIBrP9Zia6rn4KYS9+muAaLQ5h+wPFQ6Ykgtkg8z/JQcT7Due69k2HiLe+jnG9+w1iZpx6nutXbgh7vXSIa8skiPqW67mu559A1G+0zXRV2AVhe3wPcd0dDFHfVZTuyigOYSuqOrgGy0D0qk70cNXNh6j/YZjg+uEQRM0kjWRXlzQIW/Nlomu5K4Q985Ov69rHEPaOG0murdMh7AeXQl2dGyDmXNkQ6KqsAjH/loGnKxvU/GX6Ia43qyDqLwblu3pC/XUnN8F1K1TNdqCZIm+h9v4NcM0XhLD1u/NcN0tB2GmsHq6NryHspMJE1wIjCJvrdp6rMdRMbYlgVwB3kRR7vAEAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAHv7s7OIff4Nj933eRyWRCYxMQCBePd2+yWGELYew0L7umgIe96hDfaH/CDsP69YHIwYksHsTbmv7Fc/hbA7H3A4RItD2HVr/9qHTEkEs63uMDl8koOIO7cwO/RNh4hffCrmcPcbxEyprQIOX7khbCEZPYeWSRD1XheZHM4/gagPu3jRXmEXhG0y5Zf97mCI+ksNHfaM4hD2bKPF9sEyEL1cR/fY6+ZD1G/ZvsT+wyGIGi3brfYuaVB/PZtkX+4KYSd8WW+/9jGEvcL6oH3rdAi7I2mGvXMDxBwH9932yioQ83/WrLJng5pvdHKe/c0qiPqDlxbYe0L9tUdqk/1WqJp7GbfsRd5CxB/oL7TPF4Sww68etN8sBWGHNq+zb3wNYUt83WFfYARhs6/aYW8MNfPSWj97AMDeFPa8AQAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHv7s7OIff4NDy9HD9clkUlMDEBQGhvgusQQwj6iGeFaFw1h78vxdD3kB2E/YnR3NWJIBrNN5UNdVz+FsLuyQ1yjxSFs17WJriFTEsHslN0hrp/kIOJR50Nc+6ZDxL+Lxbne/QYx0wRozlduCPvU1ATXlkkQ9SC3nX8CUW9q7OKqsAvCDnoc4ro7GKI+ZYujK6M4hM2xyc01WAaiNxpol24+RP38XnfXD4cgairWhbm6pEHYDA89XMtdIezF93xd1z6GsFd4hbm2Toewf/kkuTo3QMy5siHQVVkFYv4tA09XNqj5v6uDXW9WQdRvafB09YT6iz8/1HUrVM30PZ6uIm+T4ObkCyLUbJaCsMPKrV0bXyfB3V9gBGF/XhXqagw1c4nHOxcAcqh/jbwBAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEADOL7C5in3/D45uQoEP0rwQmBiDYFX3EPi8iCcxerz7TfosJhG3zaYv9IT8Iu+nPP/tM9WQw+92rT/Yl+yBsNV12h2hxCPv+2+f2IVMSwewgfUaHT3IQcd68v/Z90yHia9+JONz9BjHT2uSv/VduCLtsvq1DyySI+tmFrA7nn0DU+3hetFfYBWG3rWNy2B0MUc/5utOedzPUzZ5L7N0bIOxrjcftdfMh6jd832b/4RBEvMF6vb1LGoRtpzPZvtwVwt4Rus1+7WMI2+PRUfvW6RC2mdNMe+cGiDnal0/bK6tA3HZj7TJ7Nqj5PAIr7W9WQdRfqVli7wn1l+yELfZboWrMtjywF3kLERe7tNo+XxDCdmLbbL9ZCsIO+r/RvvE1hG27aK99gRGELXl4m70x1Myp3+PtAQxWdFe8AQAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADOL7C5in3/Do8400TX6VwITAxBwXol2zYtIArNXpEa4bjGBsPfleLoe8oOwFXWCXTPVk8FsU/lQ15J9EHZDfYhrtDiErTrRwzVkSiKY7eXo4fpJLhnO7psOEe8MCHK9+w1ipgpQ/VduCPvU1ATXlkkQ9Sm7Q1zPP4GoNzV2cVXYBWF7fA9x3R0MUZ+yxdGVdzOELfIt3tW9AcIG+Us3H6J+fq+764dDEPEiHi9XlzQIm6051LXcFcLuTHF0XfsYwp6xx9O1dTqEfcvA09W5AWLOlQ2BrsoqELd9SEhyZYOavwBo/s0qiPotDZ6unlB/2XOHum6FqpkONFPkLdSPRwJd8wUh7P8PPFw3S0HYm1LdXRtfQ9jewLAqMEKoMYaa+fozvysA5klkVrwBAAA=" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEANt6qbOIff4Nj6sVmvYnI5OYGIDApVvHfnsEhF35Us2+LhrCzpyoa3/ID8KuFtGzP3EDwRblTQGz+6br2UeLJ8PVh0xJBLN7geKf5BDiOQWJcPVvvyHMYTdGsOOzEepPPUmEu01rF4Qt36ptvy8Yor7LUcFezg7hfpevEPY1oL9spkHUhz5Wtd8yGyL+I1jZvjENwuZcI2Pv4YrQe5sLYq8C0PzoAog413Vl+4AGiDkvfmvaO3hD1OhukrW/6w4RT7WWt39dBVF/5KuGfQ7UX6Cwzc2HqAnj07VXfgsRT09Ts+8UhLCNOHTs10hB2Auk9O3VXifB7TprBGHzMGnbe8tC7M3e88UOALX6Sae8AQAA" />
    <add key="/lpc/nct6779d/voltage/1/values" value="" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEANt6qbOIff4Njwvfgx1+RG4WYAACEDtkSiITiO2+Ldjhk1wyE0w8Mv0IC4zNbpwEFjc1DnaIz06Gqz/1JBGuXmsXgr0vGKL+UVWIg5xdElx8a28nJ4zt4QoRj7QMcbjNhbA3ugAhHtCAcJuDN0LNXfdEuJrXVQjzw7P8+GDss0YIc7xlk+HuAQB6BBs/CAEAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEANt6qbOIff4ND/dtwQ4nI5OYGIDgwvdgh+0RCHZdNIQNUnPIDyF+4gaCLcqbAlcTLZ4MF9+krMYOY7/9BlG/ryTYgd0YwjY1DnaIz06G6z31JBGu13LWdXEYO6AhEa7GwRth/kKNDk4YW/ktxMxIyxCHTkGE29ZIIdhqrxF+OWuEEPeWhZj5qCrEAQB9YeNRFAEAAA==" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEANt6qbOIff4Nj8SnH+xPRiYxMQABiL09AsK+sfiDfV00QvyQH0Lc4q8mO4wdMiURruaTXDJcTWT6ERYYm90YoveYwgf7+GyEmlNPEHq1diHY+4Ih6oszPtrL2SHc4PIV4QabaYlw9pbZCDWNaQg1ygFH4W6ILoCIv1L7aB/QgNDr4J0M13vXPRGu5nUVwpybqQi/KL9FmNMpiLB3jRRCvdprBPusEUK9tyzErr8rP9oDAMMxHP+AAQAA" />
    <add key="/lpc/nct6779d/voltage/5/values" value="H4sIAAAAAAAEANt6qbOIff4Nj5YDXfYnI5OYGICASbvdfnsEhJ2e1mZfFw1hd+e02x/yg7BB6k/cgLCbgWxR3hQw+1ddl320eDKYfVelzT5kSiKYvWx2i/0nOYg4D1O3fU4BRJwXyH77LQmul90Ywi607bKPz06Gi596kggX19oFYXNfb7bfFwxRf60i017ODsJeWlBr7/IVwn52ocneZhpE/YflbfZbZkPEe4B+aUyDsKdItNh7uELYz3932t/mQtgbXQARn/S2xj6gIRGu3sEbosbgbov9XXeI+NYTZfavqyDqvXia7HOQ/JWbj/Cv8luIeGx/k32nIMINa6Qg7Hnv2+3VXiP0njWCsE2Mi+29ZSH2Zk7MtQcA7P1PsrwBAAA=" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEANt6qbOIff4Nj2MKH+xPRiYxMQDBjcUf7LdHQNj+SR/s66IR4mvyNwnA2G+/IdSwG0PYIHPis5Ph7FNPEuFqtHYlws2Z8falFoyt9hqh96wRwi5v2WQ4GwB3od8BqAAAAA==" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEANt6qbOIff4Nj0tK0Q7Hb10PZQACEBsAsgcjxxgAAAA=" />
    <add key="/lpc/nct6779d/voltage/8/values" value="" />
    <add key="/lpc/nct6779d/voltage/9/values" value="" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEANt6qbOIff4Nj0jLLXbHb10PZQACEBsA8JLLBhgAAAA=" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEANt6qbOIff4NDybtdvvjt66HMgABiA0ABk1O8hgAAAA=" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEANt6qbOIff4ND7O4W/YnI5OYGIDgwPxb9tsjIGyQeF00gn3ID8JeK3PL/sQNBFuUNwWuJlo8GS4eMiURzv4klww3P6cAIu7x8Jb9228Icwya1dlhbK1diXAz9wUj1EgL+vHB2Le5khH2FiDUTDh9hAXGvuuOMOd1FUJNzjeEf3PzEe5UfgsR9wS6rVMQ4fc1Ugi22muEORIBR+F2AQDpbcGwUAEAAA==" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEANt6qbOIff4Nj2sVmfYnI5OYGIDgmEKB/fYIBLsuGsIO58u1P+QHYb/4nWl/4gaE3Tc9z16UNwXM5mXKto8WTwaza0Ty7EOmJILZLt059p/kkuHsnAKIeObEXPu33xDmsxsnwcXjs5Ph7FNPIOqNOHLstXZB2NVA8/cFQ9RnANXI2SHc5vIVYabNNIQbtsxOgrMb0yBsPqCbPVwR9t7mgth7Y3GBfXQBwo8BDQhzHLwhajbPzbe/6w4RP/I1w/51FUT9r7os+xyov0Bhm5uP0Kv8FiL+Z2WhfadgEjzc1kglwcNN7TXC/WeNEG72lk2Gmw8AXe08jrwBAAA=" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEANt6qbOIff4Nj41FL+yP37oeygAEIDYAQhoO2hgAAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEANt6qbOIff4NDwYGNaeGTUdYGMBAzakuOokJwlZ1OuQHZTeoOJ24ARNXc9p2vZsTxs4pSISKqzu9/QZTo+EkMfE1N4wtZ4fQ29CNsGvLbJj5qk6NaQi7PFxh6lWcFvfBzFFxel0FE1d2yoHbpeSUmw91Q4Oyk/JbmDlKTp2CCDWvQrs4YWwAEAF2B/wAAAA=" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEANt6qbOIff4NDwYGAaeGTUdYGMBAwKkuOokJwhZyOuQHYws7nbgBY4s42S997QljAwB58BJPSAAAAA==" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGnwdPRiYxMYDBj4PbIxDsumgY+/fBQ34w9p+DrxQC+GDst99g4r8OshvD2D8Pxmcnw8059SQRLq61KxFu5r5ghPlydgjzXb4ixG2mJcLFt8xGqGlMQ9jr4YoQN6s+ygJjBzQkwtU4eCfDzbzrjnDP6yqEXTdTj7DA2MpvEWZ2CiLUrJFCiKu9RoTVWSOE371lk+FsAHxNFIpoAQAA" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGOU5znQL4GMBgjlO0eDITmNkw2ylkSiITTDyu/wgLjP32WxJcDbtxElxNfHYynH3qSSJcjdYuhDn7ghHq5exg7NlOLl8R4oUz1NhhbA9XhF23uRBuiy5AqJ9wGuG2u+4Ie19XIdTkILk5Nx+hRvktwg2dgjD2LKc1Ugj1dtYa7DA2AEHwdQU4AQAA" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGHY7Hb10PZQCDHY4A/mf97xgAAAA=" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGYwdPRiYxMYDBiYPbI2DsYwfrohHi80002WHsaPFkqPiRgyFTEuFq4vqPsMDYb78hzEmbd5QFxj71JBGuV2tXIlzNvmCEejm7JLgal68w9oGDNtMQ6rfMRqhpTEOo8XBFmHObC+HO6AKEXwIaEG528EaoueuOcNvrKoT6HCS/5OYj9Cq/RajpFES4Z40Ugq32GsY+dPCsEcIcb1mEvQC1KdPmjAEAAA==" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEANt6qbOIff4NDwYgOH7reigDFAAABs/duRgAAAA=" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEANt6qbOIff4Nj3tcZq4nI5OYGIBgUb6Z6/YICPvaFTPXumgIe5qXieshPwh7A5B94gaEbTnX3lWUNwXM/lxq4xotngxmcy+1dA2ZkghmS3VYuH6Sg4g3XLVwzSmAiAu/NXd9+w1iTkOIhSu7MYRdZWXhGp8NUV+80ML11BOIentlS1etXQgz9wXD1Ju7ytlB2KLJJq4uXyHsvDdWrjbTIOovhVi7bpkNEb8eZu7amAZhLy4zdfVwhbAlGE1cb3NB7NV5YewaXQARZ79o7BrQADGnZ7WRq4M3VE21ketdd4i4zBcj19dVEPU1KsauOVB/cdwxcl0JdUMTj7Hr86MQ8XVJRq6dghB2GZ+B6xopCHv9QkNXtdcQ9tlOQ9ezRhD2ASdDV29ZiL2Z/3RdASMWxiW8AQAA" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEANt6qbOIff4NDwYgOH7reigDFAAABs/duRgAAAA=" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEANt6qbOIff4NDwYgOH7reigDFAAABs/duRgAAAA=" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEANt6qbOIff4NDwYgOH7reigDFAAABs/duRgAAAA=" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEANt6qbOIff4ND3Nzd6fjt66HMgABiA0A+W8NcBgAAAA=" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEANt6qbOIff4Njw3r250aNh1hYQACELsuOokJxO7taXE65Idgn7gBYc+ZPdVJlDcFzI6K6nOKFk+Ginc7hUxJBLO5uLqclh7eIABj7wuG6H3+rM1Jzg5hpstXCHvLlglONtMgeo2Mepy2zIaIg9zTmAZhh4a2Onm4IvTe5kqGs6MLIOIJ8c1OAQ0wc5qcZGe/5oaxnx+FqMnLa3CaYwEzv96pR1CdHcb2loX5pdEJABm+4nUgAQAA" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGE07Hb10PZQCDE04AOZBuDhgAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGE07Hb10PZQCDE04AOZBuDhgAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEANt6qbOIff4NDwaGE07Hb10PZQCDE04AOZBuDhgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8090" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/temperature/2/values" value="" />
    <add key="/intelcpu/0/temperature/1/values" value="" />
    <add key="/intelcpu/0/temperature/0/values" value="" />
    <add key="/intelcpu/0/load/2/values" value="" />
    <add key="/intelcpu/0/load/1/values" value="" />
    <add key="/intelcpu/0/load/0/values" value="" />
  </appSettings>
</configuration>